extends layout
block title
  title skybase - About Skybase
block body

    div(class="container")
      h1 About Skybase®
      div(class="row")
        div(class="col-md-7")
          h2 Maintenance Marketplace
          p TODO
        
        div(class="col-md-5")
          h2 Megastructures Tech, Ltd.
          h4 Innovative structures | Unmatched size
          p 
            | From emerging civilizations to established galactic consortiums,  
            | MTL provides governing structures with the tools and services 
            | they need to succeed – now and in the 
            | future. As the market and technology leader in providing integrated 
            | and intelligent planetary solutions, MTL offers proven solutions and a 
            | demonstrated approaches for civilizations on the verge of 
            | socio-economic collapse to evolve their operations.
          hr 
