extends layout
block title
  title skybase - Contact Us
block body

  div(class="container")
    h1 Contact Us

    div(class="row")
      div(class="col-md-7")
        h2 How can we help?
        p 
          | Simply fill in the fields below and a Skybase representative will be
          | in contact with you shortly.
        div(class="well")
          div(class="row")
            div(class="col-md-3")
              label First Name*
            div(class="col-md-9")
              input(class="form-control")
          div(class="row")
            div(class="col-md-3")
              label Last Name*
            div(class="col-md-9")
              input(class="form-control")
          div(class="row")
            div(class="col-md-3")
              label Job Title
            div(class="col-md-9")
              input(class="form-control")
          div(class="row")
            div(class="col-md-3")
              label Email Address*
            div(class="col-md-9")
              input(class="form-control")
          div(class="row")
            div(class="col-md-3")
              label Country
            div(class="col-md-9")
              input(class="form-control")
          div(class="row")
            div(class="col-md-3")
              label Comments*
            div(class="col-md-9")
              textarea(class="form-control", rows="5")
          div(class="row")
            div(class="col-md-12")
              button Submit

      div(class="col-md-5")
        div(class="well")
          h4 Speak directly with a Skybase representative.
          p 
            a(href="tel:+18005551212") +1.800.555.1212

        hr

        h2 Contact Skybase
        p 
          strong General Inquiries:
          br
          a(href="mailto:info@sky.base") info@sky.base
        p 
          strong Worldwide Sales Inquiries:
          br
          a(href="mailto:sales@sky.base") sales@sky.base
        p 
          strong  Press and Media Inquiries:
          br
          a(href="mailto:communications@sky.base") communications@sky.base
        p 
          strong  Careers:
          br
          a(href="mailto:careers@sky.base") careers@sky.base
        p 
          strong Corporate Headquarters:
          br
          | 451 Fahrenheit Center
          br
          | Olympus Mons, Mars
          br
          | Sol System
        p 
          strong Fax: +1.800.555.1212 